body {
	background-image: url('graph.gif');
	background-color: white;
	background-position: center top;
	font-family: 'Gloria Hallelujah', cursive;
	color: #666;
}

header {
	margin-top: 20px;
	padding: 0;
	border-radius: 6px;
	padding-bottom: 15px;
	max-width: 400px;
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	/*font-family: 'Permanent Marker', cursive;*/
	font-size: 25px;
	line-height: 25px;
}
header h1, header p {
	margin: 0;
}
header h1 {
	font-size: 63px;
	font-weight: 500;
	line-height: 69px;
}
header p {
    padding-left: 1em;
    text-indent:-1em;
	margin-top: 10px;
}
header p:first-child {
	margin-top: 0;
}

nav {
	margin-top: 20px;
	margin-right: 20px;
}
nav ul {
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
}
nav li {
  float: left;
  position: relative;
  display: block;
}
#socialLinks {
	list-style: none;
	clear: right;
}
#socialLinks li {

}


a {
	text-decoration: underline;
	color: #666;
}
.dropdown-menu > li > a {
	color: #666;
}
main > div {
	margin-top: 5px;
	margin-bottom: 15px;
}